* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  font-family: "Poppins", Helvetica, sans-serif;
}

.active {
  border-radius: 20px;
  background-color: #3e65c1;
}

/* BRAND */
.navbar {
  background-color: #3ec159;
}

.navbar a.navbar-brand {
  color: #fff;
  margin-left: 20px;
  font-size: 2em;
  font-weight: bold;
}

.navbar-toggler {
  background-color: #fff;
}

#navbarNav {
  justify-content: end;
  margin-right: 50px;
}

#navbarNav ul li a {
  color: #fff;
  margin-right: 15px;
  border-radius: 20px;
  font-weight: bold;
  padding: 10px;
  margin-top: 5px;
}

#navbarNav ul li a:hover {
  border-radius: 20px;
  background-color: #3e65c1;
  color: white;
}

#carouselExampleIndicators {
  margin-top: 100px;
}

.content2 h1 {
  color: #3ec159;
  font-weight: bold;
}

.content2 h3 {
  font-size: 15px;
}

.list-toko {
  background-color: #fff;
}

.card {
  box-shadow: 0 5px 5px 5px #888888;
}

.card .btn {
  background-color: #3e65c1;
  color: #fff;
  font-weight: bold;
}

.terlaris .card-text {
  font-size: 15px;
  opacity: 50%;
}

#modal-head1 {
  text-align: center;
}

#modal-head1 .card-text {
  font-size: 20px;
  opacity: 50%;
}

#modal-head1 .card-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.modal-body .keteranganPoroduk {
  font-size: 12px;
}

.modal-header {
  background-color: #3ec159;
}

#exampleModalLabel {
  text-align: center;
  font-weight: 20px;
  font-weight: bold;
}

/* FOOTER */
.footer {
  background-color: rgb(18, 17, 17);
  padding: 70px;
}

.footer h3 {
  color: #3ec159;
}

.footer hr {
  color: #fff;
}

.footer address {
  color: #fff;
  opacity: 50%;
  font-size: 12px;
  font-style: italic;
}

.footer h4 {
  color: #fff;
  opacity: 60%;
}

.footer .f-toko a {
  text-decoration: none;
  color: #fff;
  opacity: 50%;
  font-size: 15px;
}

.footer .copyright {
  margin-top: 15px;
  color: #fff;
  opacity: 50%;
  font-size: 12px;
}

.footer .f-i a {
  text-decoration: none;
  color: #fff;
  opacity: 50%;
  font-size: 15px;
}